RewriteEngine On
RewriteBase /test/

# If an existing asset or directory is requested, serve it
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, rewrite everything to index.html
RewriteRule . /test/index.html [L]
